body {
    background-image: url(lond3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: wheat;
}

.logo {
    width: 10%;
    height: 10%;
    border-radius: 20px;
}

#flotta{
   background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    width: 60%;
    border-radius: 20px;
    padding: 20px;
    color: wheat;
    font-family: Arial, sans-serif; 
}

#vatsim {
    width: 20%;
    height: 20%;
    border-radius: 20px;
    float: right;
}

img:not(.logo):not(#vatsim) {
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;

}

button {
    background-color: wheat;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    
}

a{
    text-decoration: none;
    color: black;
}

span{
    color: #b42711;
    font-weight: bold;
}

.oldie-navbar {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  gap: 20px;
  
}

.oldie-navbar a {
  color: wheat;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.oldie-navbar a:hover {
  background-color: gray;
}

#csatlakozas {
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    width: 60%;
    border-radius: 20px;
    padding: 20px;
    color: wheat;
    font-family: Arial, sans-serif;
}
#kapcsolatok {
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    width: 60%;
    border-radius: 20px;
    padding: 20px;
    color: wheat;
    font-family: Arial, sans-serif;
}

#tartalom {
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    width: 60%;
    border-radius: 20px;
    padding: 20px;
    color: wheat;
    font-family: Arial, sans-serif;
}

li{
    color: wheat;
    font-size: 20px;
    text-align: left;
    margin-right: 40px;
    padding: 5px;
}

p{
    color: wheat;
    font-size: 25px;
    text-align: left;
    margin-right: 40px;
}